.slide-left-enter-active,
.slide-left-leave-active,
.slide-up-leave-active,
.slide-up-enter-active {
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

.slide-left-enter-from,
.slide-left-leave-to {
    opacity: 0;
    transform: translateX(40px);
}

.slide-up-enter-from,
.slide-up-leave-to {
    opacity: 0;
    transform: translateY(40px);
}

.scale-up-enter-active,
.scale-up-leave-active {
    transition: transform 0.4s ease;
}

.scale-up-enter-from,
.scale-up-leave-to {
    transform: scale(0);
}

.scale-up-leave-active,
.scale-up-enter-active {
    position: absolute;
}
